@tailwind base;
/* 
Add your custom base styles if you have any. Normally, Tailwind is good enough. Below is the examples of base style tags
https://tailwindcss.com/docs/adding-base-styles
html, body {}
a {}
h1 {} 
h2 {}
h3 {}
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind components;
/* 
Add your custom component styles if you have any.
We should not have too many custom css. We should try to use components (e.g. React component) to solve code duplication instead of creating custom css for same styling.
https://tailwindcss.com/docs/extracting-components
*/


@tailwind utilities;
/* 
Add your custom utilties styles if you have any. example
https://tailwindcss.com/docs/adding-new-utilities
*/